
// TEMPORARY!!
.angular-view {
  background-color: #AAAAAA;
}

.angular-view {
  padding-top: 15px;
  
  h2.view-title {
    font-size: 30px;
    text-align: center;
  }
}

.angular-view.students {
  .filter-panel {
    
  }
}

.angular-view.enroll {
  
}