<div class="angular-view students"> <!-- Main panel -->
  
  <h2 class="view-title">Search Current Students</h2>
  
  <div>
    <p>
      <label>First name:</label>
      <input type="text" ng-model="searchName.first" debounce="{{ _deb }}">
    </p>
    
    <p>
      <label>Last name:</label>
      <input type="text" ng-model="searchName.last" debounce="{{ _deb }}">
    </p>
    
    <p>
      <ul>
      
        <li>
          <label>Gryffindor</label>
          <input type="checkbox" ng-model="searchHouse.Gryffindor">
        </li>
        
        <li>
          <label>Hufflepuff</label>
          <input type="checkbox" ng-model="searchHouse.Hufflepuff">
        </li>
        
        <li>
          <label>Ravenclaw</label>
          <input type="checkbox" ng-model="searchHouse.Ravenclaw">
        </li>
        
        <li>
          <label>Slytherin</label>
          <input type="checkbox" ng-model="searchHouse.Slytherin">
        </li>
        
      </ul>
      {{ searchName }}
      {{ searchHouse }}
    </p>
    
    <p class="well">
      <a href="#/enroll">Enroll Now!</a>
      <button ng-click="toggleDelete()">Delete Student</button>
    </p>
    <button ng-click="testUpdate()">Test Update</button>
  </div>


  <div>
    <!-- Filter the students before displaying them -->
    <ul ng-hide="!students.length">
      <li ng-repeat="s in filteredStudents = (students | studentHouseFilter:searchHouse | studentNameFilter:searchName)" ng-click="makeCurrentStudent($index)">
        <p class="{{ s.school.house }}"> {{ s.name.first }} {{s.name.last }} : {{ $index }} <button ng-show="deleteButton" ng-click="removeStudent($index)">&nbsp;&nbsp;X&nbsp;&nbsp;</button></p>
      </li>
    </ul>
    <h2 ng-show="!students.length">No Students are recorded</h2>
    <h2 ng-show="!filteredStudents.length && students.length">No results :(</h2>
    <h3>{{ filteredStudents.length }}</h3>
  </div>
  
  <student student-data="{{ currentStudent }}"></student>
  
  
</div> <!-- /Main panel -->