<div> <!-- Main panel -->
  
  <div>
  
    <p>
      <label>First name:</label>
      <input type="text" ng-model="searchName.first">
    </p>
    
    <p>
      <label>Last name:</label>
      <input type="text" ng-model="searchName.last">
    </p>
    
    <p>
      <ul>
      
        <li>
          <label>Gryffindor</label>
          <input type="checkbox" ng-model="searchHouse.Gryffindor">
        </li>
        
        <li>
          <label>Hufflepuff</label>
          <input type="checkbox" ng-model="searchHouse.Hufflepuff">
        </li>
        
        <li>
          <label>Ravenclaw</label>
          <input type="checkbox" ng-model="searchHouse.Ravenclaw">
        </li>
        
        <li>
          <label>Slytherin</label>
          <input type="checkbox" ng-model="searchHouse.Slytherin">
        </li>
        
      </ul>
      {{ searchName }}
      {{ searchHouse }}
    </p>
    
    <p class="well">{{ status }}</p>
  </div>


  <div>
    <!-- Filter the students before displaying them -->
    <ul>
      <li ng-repeat="s in students | studentHouseFilter:searchHouse | studentNameFilter:searchName">
        <p class="{{ s.school.house }}"> {{ s.name.first }} {{s.name.last }}</p>
      </li>
    </ul>
  </div>
</div> <!-- /Main panel -->